.card {
    background: #d7d7d7;
    margin: 2em;
    border-radius: 1em 0 1em 0;
    transition: .2s;

    &:hover {
        margin-top: 1em;
        position: relative;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .image {
        span {
            border-radius: 1em 0em 0em 0em;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
    }

    .description {
        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em 0;

            font-size: 1.4em;
            color: #111010;
        }

        p {
            padding: 0 1em 1em;
            text-align: justify;
            line-height: 1.3em;

            color: #76696f;
        }

        a {
            text-decoration: none;
            color: #fff;
            background: #76696f;
            border-radius: 0em 0 1em 0em;
            padding: 0.8em 0;
        
            display: flex;
            justify-content: center;
            align-items: center;
        
            transition: linear .2s;
        
            &:hover {
                opacity: .8;
            }
        }
    }
}
